.l {
  &-siteArea {
    height: 100vh;
    max-width: $site-width;
    margin: 0 auto;
  }
  &-navArea {
    height: 80px;
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &-contentArea {
    max-width: $content-width;
    height: 100vh;
    margin: 0 auto;
    padding: 1em;
  }
}
