.Profile {
  @include font-family;
  &-content {
    @include flex-center;
  }
  &-link {
    text-decoration: none;
    color: $text-secondary;
    background-color: $button-bg;
    line-height: 1.25em;
    padding: 5px 15px;
    margin: 5px;
    display: inline-block;
    &:hover{ background-color: lighten($button-bg, 10%)}
    &:active{ background-color: $button-bg-active}
    &-container {
      height: 60px;
    }
  }
}